body {
    margin: 0;
    height: 100vh;
    cursor: none;
}

a {
    padding: .7vh;
    cursor: none;
}

p {
    font-family: 'Feijoa', serif;
}

.bio-img {
    float: right;
    width: 60%;
}

.fix {
    clear: both;
    overflow: hidden;
}

.bio-para {
    margin-top: 1%;
    padding-left: 10%;
    width: 30%;
}

.intro-bio {
    margin-top: 10%;
}