/*
  STYLE GUIDE STYLING 
  Default styling for the style guide 
*/


/* Fonts Import */

@import url(//db.onlinewebfonts.com/c/364bcd77f75508783b2255c15608d3ae?family=Feijoa+Medium);
@import url(//db.onlinewebfonts.com/c/09c4db82c87d589fe57bd5e29a4debe2?family=Feijoa+Medium+Italic);
@import url(//db.onlinewebfonts.com/c/1079aba7293cee85a36e6280bb7f3162?family=Feijoa+Bold);
@import url("https://use.typekit.net/xei2jwr.css");
@font-face {
    font-family: "Feijoa Medium";
    src: url("//db.onlinewebfonts.com/t/364bcd77f75508783b2255c15608d3ae.eot");
    src: url("//db.onlinewebfonts.com/t/364bcd77f75508783b2255c15608d3ae.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/364bcd77f75508783b2255c15608d3ae.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/364bcd77f75508783b2255c15608d3ae.woff") format("woff"), url("//db.onlinewebfonts.com/t/364bcd77f75508783b2255c15608d3ae.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/364bcd77f75508783b2255c15608d3ae.svg#Feijoa Medium") format("svg");
}

@font-face {
    font-family: "Feijoa Medium Italic";
    src: url("//db.onlinewebfonts.com/t/09c4db82c87d589fe57bd5e29a4debe2.eot");
    src: url("//db.onlinewebfonts.com/t/09c4db82c87d589fe57bd5e29a4debe2.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/09c4db82c87d589fe57bd5e29a4debe2.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/09c4db82c87d589fe57bd5e29a4debe2.woff") format("woff"), url("//db.onlinewebfonts.com/t/09c4db82c87d589fe57bd5e29a4debe2.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/09c4db82c87d589fe57bd5e29a4debe2.svg#Feijoa Medium Italic") format("svg");
}

@font-face {
    font-family: "Feijoa Bold";
    src: url("//db.onlinewebfonts.com/t/1079aba7293cee85a36e6280bb7f3162.eot");
    src: url("//db.onlinewebfonts.com/t/1079aba7293cee85a36e6280bb7f3162.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/1079aba7293cee85a36e6280bb7f3162.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/1079aba7293cee85a36e6280bb7f3162.woff") format("woff"), url("//db.onlinewebfonts.com/t/1079aba7293cee85a36e6280bb7f3162.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/1079aba7293cee85a36e6280bb7f3162.svg#Feijoa Bold") format("svg");
}


/* End of Fonts */

body {
    background-color: rgb(0, 0, 0);
    padding: 2rem;
    margin: 0;
    height: 100vh;
    cursor: none;
}

* {
    font-family: temeraire, serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    cursor: none;
}

.black-background {
    background-color: black;
}

.element-category {
    margin-top: 4vw;
}

.element {
    padding-top: 4rem;
    padding-bottom: 2rem;
    border-top-width: 0.15rem;
    border-top-style: solid;
    border-top-color: white;
}

.element h3 {
    color: #f09d1f;
}

.element h4 {
    font-size: 1.4rem;
    padding-top: 1%;
}

.subnav a {
    font-family: 'Feijoa Medium';
    cursor: none;
    padding-right: 3vh;
    color: pink;
}

.subnav a:hover,
.subnav a:focus {
    text-decoration: none;
}


/* Start of <code> styling*/

code {
    background-color: #EEE;
    padding: 0.5rem;
    display: block;
    margin-bottom: 2%;
    ;
}

.code-color {
    color: #599388;
}


/* End of <code> styling*/


/* Start of cursor */

.red {
    background-color: rgb(190, 52, 52);
    /* border: 1px solid rgb(129, 28, 28); */
}

.cursor {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    transition-duration: 200ms;
    transition-timing-function: ease-out;
    animation: anim .5s infinite alternate;
}


/* End of cursor */


/* 
    INTERACTIVE ELEMENTS -------------------
  */


/* Start of In-text Link*/

.intext {
    color: #599388;
    text-transform: uppercase;
}

.intext:hover {
    color: rgb(190, 52, 52);
}


/* End of In-text Link */


/* Styling for the navigation button */

.button-nav {
    display: inline-block;
    padding: 0.5rem;
    color: white;
    background-color: rgb(50, 50, 50);
    text-decoration: none;
    transition-property: background-color;
    transition-duration: 0.5s;
}

.button-nav:hover,
.button-nav:focus {
    background-color: rgb(200, 200, 200);
}

.fix {
    clear: both;
    overflow: hidden;
}


/* Contact Buttons */

.contact-buttons button {
    width: 40%;
    border: none;
    outline: 0;
    padding: 0.6rem;
    margin-bottom: 10%;
    color: white;
    background-color: #005370;
    border-radius: 6px;
    text-align: center;
    cursor: pointer;
    font-size: 0.9rem;
    cursor: none;
}

.contact-buttons button {
    margin-top: 0%;
    margin-left: 5%;
}

@media only screen and (max-width: 992px) {
    .contact-buttons button {
        width: 30%;
        margin-top: 0%;
        margin-left: 10%;
    }
}

.contact-buttons button:hover {
    opacity: 0.7;
}

.contact-buttons button:focus {
    opacity: 0.7;
    background-color: #599388;
}

.contact-buttons button[type=submit] {
    margin-right: 2vw;
}


/* Coder Reference for the four input styles below: 
https://www.w3schools.com/cssref/sel_focus.asp */

input[type=text]:hover {
    background-color: #005370;
    color: black;
}

input[type=email]:hover {
    background-color: #005370;
    color: black;
}

input[type=text]:focus {
    outline: none !important;
    border: 1px solid #519AF6;
    box-shadow: 0 0 10px #519AF6;
    cursor: none;
    color: black;
}

input[type=email]:focus {
    outline: none !important;
    border: 1px solid #519AF6;
    box-shadow: 0 0 10px #519AF6;
    cursor: none;
    color: black;
}

input[type=email],
input[type=text],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #000000;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    color: black;
}

.container {
    border-radius: 5px;
    background-color: #000000;
    padding: 20px;
}

.subject-area {
    height: 200px;
}


/* Radio Button Custom Code Reference: 
https://stackoverflow.com/questions/4253920/how-do-i-change-the-color-of-radio-buttons */

input[type='radio']:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #d1d3d1;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}

input[type='radio']:hover {
    opacity: 0.5;
}

input[type='radio']:checked:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #599388;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
    opacity: 1;
}


/* Image as a link style */


/* https://stackoverflow.com/questions/15757036/creating-a-zoom-effect-on-an-image-on-hover-using-css */

.thumbnail {
    width: 50%;
}

.zoom-image {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.zoom-image img {
    width: 100%;
    -webkit-transition: all 1s ease;
    /* Safari and Chrome */
    -moz-transition: all 1s ease;
    /* Firefox */
    -ms-transition: all 1s ease;
    /* IE 9 */
    -o-transition: all 1s ease;
    /* Opera */
    transition: all 1s ease;
}

.zoom-image:hover img {
    width: 100%;
    -webkit-transform: scale(1.25);
    /* Safari and Chrome */
    -moz-transform: scale(1.25);
    /* Firefox */
    -ms-transform: scale(1.25);
    /* IE 9 */
    -o-transform: scale(1.25);
    /* Opera */
    transform: scale(1.25);
}


/* End of image as a link */


/* 
    TEXT ELEMENTS -------------------
  */


/* Styling for headings */

h1,
h2,
h3,
h4 {
    font-family: 'temeraire', serif;
    font-weight: 400;
    font-size: large;
}

h1 {
    font-size: 2rem;
    color: white;
}

.pageTitle {
    color: white;
    font-size: 3.5rem;
    font-family: 'Temeraire', serif;
    font-weight: lighter;
    left: 15%;
    top: 10vh;
}

h2 {
    margin-top: 6rem;
}

h3 {
    font-style: italic;
    margin-top: 1rem;
}

.subtitle {
    color: #f09d1f;
    font-style: italic;
    margin-top: 3rem;
}

h4 {
    font-size: 1.4rem;
    padding-top: 1%;
    margin-bottom: 0.25rem;
}


/* END FOR STYLING OF HEADINGS */


/* STYLING FOR PARAGRAPHS */

p {
    margin-top: 0;
    font-family: 'Feijoa Medium';
}


/* END OF STYLING FOR PARAGRAPHS */


/* 
    COMBINED ELEMENTS -------------------
  */


/* Start of Main navigation */

.topnav {
    overflow: hidden;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    top: 5%;
    font-family: 'Feijoa', serif;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
    text-decoration: none;
}

.topnav a.active {
    color: white;
    text-decoration: none;
}

.topnav-right {
    float: right;
}


/* End of Main navigation */


/* Footer */

footer {
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
    height: 1rem;
    font-size: medium;
}


/* End of Footer */