.proj {
    position: relative;
    font-family: 'Temeraire', serif;
    font-weight: bold;
    font-size: 4rem;
    color: black;
    text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;
}

.proj:hover {
    color: white;
    text-decoration: none;
    text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;
}

.proj div {
    display: none;
}

.proj:hover div {
    display: block;
}

.listing {
    margin-top: 10%;
}

.image-right {
    float: right;
}